body {
  height: 98vh;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2vh;

  background-color: none;

  overflow: hidden;
}

body > div {
  border-radius: 10px;
  opacity: 0.6;
}

.navigation-bar {
  height: 100%;
  width: 100%;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 20;
  grid-row-start: 0;
  grid-row-end: 2;
}

/* carnet-adresse, composer-couriel lire-couriel sont aux meme endroit sure la grille */
/* car il sont interchangable */

.ui-interchangable {
  min-height: 100%;

  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 11;

  box-sizing: border-box;

  overflow: hidden;
}
.search-wrapper {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}
.list-couriel {
  min-height: 100%;

  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 11;

  box-sizing: border-box;
}

#vanta {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  opacity: 1 !important;
}
.navigation-bar > .compose-button {
  grid-column-start: 19;
  grid-column-end: 20;
  grid-row-start: 0;
  grid-row-end: 1;
}
